:root {
  --nord0: #2E3440;
  --nord1: #3B4252;
  --nord2: #434C5E;
  --nord3: #4C566A;
  --nord4: #D8DEE9;
  --nord5: #E5E9F0;
  --nord6: #ECEFF4;
  --nord7: #8FBCBB;
  --nord8: #88C0D0;
  --nord9: #81A1C1;
  --nord10: #5E81AC;
  --nord11: #BF616A;
  --nord12: #D08770;
  --nord13: #EBCB8B;
  --nord14: #A3BE8C;
  --nord15: #B48EAD;
}

body.dark-mode {
  --main-bg: black;
  --main-fg: white;
  --note-bg: black;
  --note-fg: white;
  --ref-bg: #202020;
  --ref-fg: #EDEDED;
  --border: #424242;
  --link: Chartreuse;
}

body.light-mode {
  --main-bg: navajowhite;
  --main-fg: black;
  --note-bg: #fbf1c7;
  --note-fg: black;
  --ref-bg: khaki;
  --ref-fg: #242424;
  --border: rgb(125, 100, 75);
  --link: #d65d0e;
}


html, body {
  margin: 0;
  padding: 0;
  color: var(--main-fg);
  background-color: var(--main-bg);
  font-family: "Merriweather", serif;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
}

a, span.wikilink {
  color: var(--link);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* Dead Internal Links */
a[href="#"], a[href="#"]:visited,
a[href="##"], a[href="##"]:visited {
  pointer-events: none;
  opacity: 0.55;
}

/* External Links */
a.external:before {
     content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNqEkIEJwCAMBGPpEs7hHK6hY+gauoZr6Bo6RtqEWkxb6EMQnuM/USEirIoxSmOKwDkhBEwp4VPkb4801Xun9xW4e+9FldYarLUvkBPPOp4JGWOgtSaSt6VWQKUU9nPOEiSIgAmNMdadFTjn7utqrXwh6fLvH9nXhamW5ksMnpfDnw4BBgBfunO056MmqAAAAABJRU5ErkJggg==) " ";
     text-decoration: none;
     display: inline-block;
     padding-right: 0.25rem;
}

button {
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 10px;
  color: var(--ref-fg);
  background-color: var(--ref-bg);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
button > a {
  color: var(--ref-fg);
  transition: color 0.3s ease-in-out;
}

code {
  border-radius: 5px;
}

section.note-page {
  overflow-y: auto;
  height: 100%;
  padding: 25px;
  width: 650px;
  border: 1px solid var(--border);
  white-space: normal;
  display: inline-block;
  color: var(--note-fg);
  background-color: var(--note-bg);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

section.note-page > button {
  position: sticky;
  float: right;
  top: 15px;
}

section.content {
  overflow-wrap: break-word;
}

section.inlinks, section.metadata {
  width: 90%;
  margin: 60px auto;
  padding: 60px;
  border-radius: 10px;
  color: var(--ref-fg);
  background-color: var(--ref-bg);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.katex .katex-mathml {
  height: 0 !important;
  width: 0 !important;
}

main.atlas {
  height: 98vh;
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0.5rem 0;
}

h1 {
  font-size: 2em;
}

nav {
  position: fixed;
  bottom: 25px;
}

code.hljs {
  white-space: pre-wrap;
  padding: 35px !important;
}

* > img {
  width: 80%;
  margin: auto;
  display: block;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1000ms, transform 600ms;
}
.page-exit {
  opacity: 1;
  transform: translateX(-100%);
}
.page-exit-active {
  opacity: 0;
  transform: translateX(-200%);
  transition: opacity 100ms, transform 500ms;
}