html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

code {
  border-radius: 5px;
}

section.note-page {
  overflow-y: auto;
  height: 100%;
  padding: 25px;
  width: 650px;
  display: inline-block;
  white-space: normal;
}

.katex .katex-mathml {
  height: 0 !important;
  width: 0 !important;
}

main.atlas {
  height: 98vh;
  white-space: nowrap;
}

span.wikilink {
  cursor: pointer;
  text-decoration: underline;
  color: -webkit-link;
}

#__next {
  height: 100vh;
  overflow-y: hidden;
}

nav {
  position: fixed;
  top: 0;
  z-index: 10000;
}

pre {
  white-space: pre-wrap;
}

h1 {
  font-size: 2em;
}

.mermaid {
  text-align: center;
}

p > img, li > img {
  width: 80%;
  margin: auto;
  display: block;
}

footer {
  text-align: center;
}

/* Dead Internal Links */
a[href="#"], a[href="#"]:visited,
a[href="##"], a[href="##"]:visited {
  pointer-events: none;
  opacity: 0.55;
}

/* External Links */
a.external:before {
     content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNqEkIEJwCAMBGPpEs7hHK6hY+gauoZr6Bo6RtqEWkxb6EMQnuM/USEirIoxSmOKwDkhBEwp4VPkb4801Xun9xW4e+9FldYarLUvkBPPOp4JGWOgtSaSt6VWQKUU9nPOEiSIgAmNMdadFTjn7utqrXwh6fLvH9nXhamW5ksMnpfDnw4BBgBfunO056MmqAAAAABJRU5ErkJggg==) " ";
     text-decoration: none;
     display: inline-block;
     padding-right: 0.25rem;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1000ms, transform 600ms;
}
.page-exit {
  opacity: 1;
  transform: translateX(-100%);
}
.page-exit-active {
  opacity: 0;
  transform: translateX(-200%);
  transition: opacity 100ms, transform 500ms;
}